numpy
pandas
duckdb
plotly
prophet
seaborn
cmdstanpy
matplotlib
statsmodels
scikit-learn
notebook
jupyterlab
ipywidgets
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyter-lsp
jupyterlab-lsp
featuretools
python-dotenv